#u1336-5,#u1342-4,#u1348-4
{
	font-family: lato-n4, sans-serif;
}

#u1377-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu1345.frm-sub-st #u1373-4 p,#u1373-4
{
	font-family: lato-i4, sans-serif;
}

#widgetu1345.frm-subm-ok-st #u1346-4 p
{
	font-family: lato-i4, sans-serif;
}

#u1354-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu1347_input,#widgetu1347_prompt,#widgetu1374_input,#widgetu1374_prompt,#widgetu1352_input,#widgetu1352_prompt
{
	font-family: lato, sans-serif;
}

#u1336-2,#u1341-4
{
	font-family: lato-n9, sans-serif;
}

